body {
    font-family: 'Bebas Neue', sans-serif;
}

.responsive-input {
    width: 80vw;
    /* Default for tiny screens */
    max-width: 100%;
    /* Ensure it doesn't exceed the container */
}

@media (min-width: 600px) {
    .responsive-input {
        width: 40vw;
        /* For mid-sized screens */
    }
}

@media (min-width: 1024px) {
    .responsive-input {
        width: 20vw;
        /* For large screens */
    }
}

.bg-garrisons {
    background-color: #26211e;
}

.bg-dark-garrisons {
    background-color: #201b18;
}

.btn-garrisons {
    background-color: #8f6a48;
}

.btn-dark-garrisons {
    background-color: #6a4e35;
}

.text-garrisons-2{
    color: #8f6a48;
}

.text-garrisons-3{
    color: #6a4e35;
}

.text-garrisons {
    color: #d3d2cd;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.icon-color-garrisons {
    background-color: #d3d2cd;
}

.title-garrisons {
    color: #8f6a48;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.subtitle-garrisons {
    color: #9e7f61;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.fc-event-main {
    /* background-color: #ff7b00; */
    border-color: #8f4848;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


.fc-timegrid-event {
    opacity: 100%;
    /*Ezzel lehet allitani az eventek kartyajat*/
    box-shadow: none;
    border-color: #8f6a48;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.fc table {
    background-color: rgba(255, 255, 255, 0.356);
    border-collapse: unset;
    color: #26211e;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: rgba(53, 48, 23, 0.582);
}

.fc th {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2em;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1em;
}

.fc .fc-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

fc-today-button {
    width: 400px;
}

.fc-toolbar-title {
    font-weight: normal;
    color: #d3d2cd;
}

.pending_event_bg {
    opacity: 50%;
    background-color: #201b18;
}

li {
    list-style-type: none;
}

:root {
    --fc-page-bg-color: #d3d2cd;
    --fc-neutral-bg-color: #d3cdcd;
    --fc-neutral-text-color: #d3cdcd;
    --fc-border-color: #424242;

    /* --fc-event-bg-color: ; */
    --fc-event-border-color: #8f6a48;
    --fc-event-text-color: #d3d2cd;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-small-font-size: 1em;
    --fc-button-text-color: #d3d2cd;
    --fc-button-bg-color: #ffffff00;
    --fc-button-border-color: #ffffff00;
    --fc-button-hover-bg-color: #26211e54;
    --fc-button-hover-border-color: #26211eb7;
    --fc-button-active-bg-color: #26211e54;
    --fc-button-active-border-color: #26211eb7;
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 100%, 50%, 0.308);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, .3);
    --fc-today-bg-color: rgba(255, 220, 40, .15);
    --fc-now-indicator-color: red;
}